<h1>Fifa player comparison tool</h1>
<div class="container">
	<div class="radar-plot-container">
		<app-radar-plot></app-radar-plot>
	</div>
	<div class="player-selection-container">
		<button (click)="playerService.selectedPlayers$.next([])">Clear selected players</button>
		<table class="player-selection-table">
			<thead>
			<td *ngFor="let stat of displayedStats">{{ stat.header }}</td>
			</thead>
			<tbody>
			<ng-container *ngFor="let player of playerService.filteredPlayers$ | async">
				<ng-container *ngIf="playerService.selectedPlayers$ | async as selectedPlayers">
					<ng-container *ngIf="playerColor(selectedPlayers, player) as color">
						<tr [class.player-selected]="color !== unselectedPlayer"
							[style.background-color]="(color !== unselectedPlayer) ? color : ''"
							(click)="playerService.selectPlayer(player)">
							<td *ngFor="let stat of displayedStats">{{ player[stat.key] }}</td>
						</tr>
					</ng-container>
				</ng-container>
			</ng-container>
			</tbody>
		</table>
	</div>
	<div class="pcp-plot-container">
		<app-pcp-plot></app-pcp-plot>
	</div>
</div>
