<body>
<div class="container">
	<div class="radar-plot-container">
		<app-radar-plot></app-radar-plot>
	</div>
	<div class="filters-container">
		<ng-container *ngFor="let stat of displayedStats">
			<div>{{ stat.header }}</div>
			<ng-container [ngSwitch]="filterDistribution[stat.key].filterType">
				<div *ngSwitchCase="FilterType.slider" class="filter">
					<input type="range" [disabled]="!filterDistribution[stat.key].checkBoxChecked"
						   (change)="updateFilterValue(stat.key, $event.target)"
						   oninput="this.nextElementSibling.value = this.value"
						   min="{{filterDistribution[stat.key].min ?? 0}}"
						   max="{{filterDistribution[stat.key].max ?? 100}}">
					<output>{{filterDistribution[stat.key].value}}</output>
				</div>
				<div *ngSwitchCase="FilterType.value" class="filter">
					<input type="text" [disabled]="!filterDistribution[stat.key].checkBoxChecked"
						   (change)="updateFilterValue(stat.key, $event.target)">
				</div>
				<div *ngSwitchCase="FilterType.dropdown" class="filter">
					<select name="position_group" id="position_group"
							[disabled]="!filterDistribution[stat.key].checkBoxChecked"
							(change)="updateFilterValue(stat.key, $event.target)">
						<option value=""></option>
						<ng-container *ngFor=" let positionGroup of playerService.positionGroupNames">
							<option value="{{positionGroup}}">{{ positionGroup | uppercase }}</option>
						</ng-container>
					</select>
				</div>
				<div *ngSwitchDefault>Not valid</div>
			</ng-container>
			<div><input type="checkbox" (change)="onCheckBoxChange(stat.key, $event.target)"></div>
		</ng-container>
	</div>
	<div class="player-selection-container">
		<button (click)="playerService.playerSelection$.next({selectedPlayers: [], lastPlayerId: -1})">
			Clear selected players
		</button>
		<div class="selected-players-container" *ngIf="playerService.playerSelection$ | async as playerSelection">
			<div *ngFor="let selectedPlayer of playerSelection.selectedPlayers">
				<div class="selected-player" [style.background-color]="selectedPlayer.color">
					{{ selectedPlayer.player.short_name }}
					<a (click)="playerService.selectPlayer(selectedPlayer.player)">X</a>
				</div>
			</div>
		</div>
	</div>
	<div class="player-selector-container">
		<table class="player-selector-table">
			<thead>
			<tr>
				<th *ngFor="let stat of displayedStats">
					<div (click)="sortByKey(stat.key)"
						 [class.widerData]="widerDataKeys.includes(stat.key)">{{ stat.header }}</div>
				</th>
			</tr>
			</thead>
			<tbody>
			<ng-container *ngFor="let player of playerService.filteredPlayers$ | async">
				<ng-container *ngIf="playerService.playerSelection$ | async as playerSelection">
					<ng-container *ngIf="playerColor(playerSelection.selectedPlayers, player) as color">
						<tr [class.player-selected]="color !== unselectedPlayer"
							[style.background-color]="(color !== unselectedPlayer) ? color : ''"
							(click)="playerService.selectPlayer(player)">
							<td *ngFor="let stat of displayedStats">
								<div [class.widerData]="widerDataKeys.includes(stat.key)">
									{{ widerDataKeys.includes(stat.key) ? (player[stat.key] | number) : player[stat.key] }}
								</div>
							</td>
						</tr>
					</ng-container>
				</ng-container>
			</ng-container>
			</tbody>
		</table>
	</div>
	<div class="pcp-plot-container">
		<app-pcp-plot></app-pcp-plot>
	</div>
</div>

</body>
