.container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-template-areas: 'radar-plot player-selection' 'pcp-plot pcp-plot';

	.radar-plot-container {
		grid-area: radar-plot;
	}

	.player-selection-container {
		grid-area: player-selection;
		height: 80vh;
		overflow: scroll;

		.player-selection-table {
			border-collapse: collapse;

			//https://stackoverflow.com/questions/50640725/fixed-header-and-scrollable-body-in-table-in-html-angular
			//display: block;
			//height: 70vh;
			//overflow: auto;
			//width: 100%;

			//tbody {
			//	display: block;
			//	height: 200px;
			//	overflow: auto;
			//}
			//
			//thead, tbody tr {
			//	display: table;
			//	width: 100%;
			//	table-layout: fixed;
			//}

			thead {
				font-weight: bold;
			}

			tbody {
				tr:hover {
					opacity: 0.8;
					background-color: darkgrey;
					color: white;
					cursor: pointer;
				}
			}

			td {
				padding: 6px 12px;
			}
		}
	}

	.pcp-plot-container {
		grid-area: pcp-plot;
	}
}


