.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'radar-plot player-selection' 'pcp-plot pcp-plot';

	.radar-plot-container {
		grid-area: radar-plot;
	}

	.player-selection-container {
		grid-area: player-selection;
		display: flex;
		flex-direction: column;
		height: 80vh;
		overflow: scroll;

		.player {
			display: flex;

			& > * {
				padding: 4px 8px;
				width: 25px
			}

			.player__name {
				width: 150px;
			}

			&-header {
				font-weight: bold;
			}

			&-selected {
				background-color: grey;
			}
		}
	}

	.pcp-plot-container {
		grid-area: pcp-plot;
	}
}


