/* You can add global styles to this file, and also import other style files */
@white: #ffffff;
@black: #000000;
@darkGreen: darkseagreen;
@mainColor: darkslategrey;
@secondaryColor: #ff8749;
@gray: lightgrey;

body {
	font-family: Helvetica;
	background-color: @white;
	margin: 0;
	position: relative;
	overflow: hidden;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

button, .position_hover {
	font-family: Helvetica;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 5px 12px;

	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	border-radius: 5px;
	text-transform: uppercase;

	&:hover {
		cursor: pointer;
		color: @white;
		background-color: @secondaryColor;
	}
}

a {
	background-color: @white;
	padding: 4px;
	align-items: center;
	text-align: center;
	border-radius: 2px;
	height: 16px;
	width: 16px;
	color: @black;

	&:hover {
		cursor: pointer;
		opacity: 0.6;
	}
}
